/* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}*/

body {
  height: 100%;
  position: relative;
}

.container{
  max-width: 1440px;
  padding: 0 15px;
}
html {
  scroll-behavior: smooth;
}
 .header {
  
  box-shadow: 0 4px 7px rgb(0 0 0 / 16%);
  margin-bottom: 20px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list li{
  margin-left: 20px
}
h2,h3,h4{
  margin-bottom: 20px;
}
h1{
  font-size: 28px;
}
h2{
  font-size: 24px;  
}
h3{
  font-size: 20px;

}
h4{
  font-size: 18px;
}
img{
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
}
ul li{
  list-style: none;
}
.menu-list{
  display: flex;
  justify-content: space-between;
}
 #company-name {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white;
}

.banner-image {
  background-image: url("../img/laptop-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 60px;
  height: 730px;
  padding-top: 40px;
}

.banner-image figure img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
}

#about-me{
  margin-bottom: 30px;
}
.application-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.application-wrapper li{
  width: 31%;
  padding: 0 1% 15px;
}

.application-wrapper a{
  display: block;
  height: 100%;
}
.application-wrapper img{
  display: block;
  width: 100%;
  object-fit: cover;  
  transition: 0.3s ease;
  height: 100%;
}
.application-wrapper li:hover img{
  scale: 1.1;
}
@media only screen and (max-width: 768px){
  .banner-image{
    background-position: left top;
    height: 520px;
    margin-bottom: 30px; }
    .application-wrapper li{
      width: 47%;
    }
}